[run]
source = app
omit =
    app/services/rag/chroma_client.py
    app/services/scrapers/reddit_service.py
    app/services/trusted_data/un_client.py
    app/utils/prompts.py
    app/core/prompts.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
