fastapi
uvicorn[standard]
anthropic
pydantic
pydantic-settings
httpx
rank-bm25
python-dotenv
chromadb
pytest
pytest-asyncio
pytest-cov
langchain
langchain-anthropic
langchain-chroma
langsmith
langchain-huggingface
sentence-transformers
langchain-community
langchain-text-splitters
langgraph
beautifulsoup4
pypdf
